* {
  margin: 0;
  padding: 0;
}

.Site-header .title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5em;
  font-weight: 300;
  color: orange;
}

/*
 * user-menu
 */

.Site-header .user-menu {
	display: flex;
	justify-content: flex-end;
}

.Site-header .user-menu .item {
  margin-right: .5rem;
}

/*
 * main-menu
 */

.Site-header .main-menu {
  display: flex;
  font-size: 2rem;
  color: white;
  background: black;
  line-height: 1;
  align-items: center;
  padding: .5rem;
}

.Site-header .main-menu img {
  width: 1em;
  height: 1em;
}

.Site-header .main-menu .right {
  margin-left: auto;
}

.Site-header .main-menu .button {
  cursor: pointer;
}

/*
 * carousel
 */
.Carousel {
  margin: 2em auto;
  position: relative;
}
.Carousel img {
 position: absolute; top:0; left: 0;
width: 100%;
height: 100%;
}
.Carousel .link {
  cursor: pointer;
}

.Carousel .slides {
  width: 100%;
  overflow: hidden;
}

.Carousel .slide img {
  max-width: 100%;
}

.Carousel .slide {
  transition: opacity .6s ease;
  opacity: 0;
  position: relative;
  float: left;
  width: 100%;
  margin-right: -100%;

}

.Carousel .slide.active {
  opacity: 1;
  display: block;
}

.Carousel .next {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1em;
}

.Carousel .prev {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1em;
}

.Carousel .next .button,
.Carousel .prev .button {
  cursor: pointer;
}

.Carousel .dots {
  list-style: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 30%;
  right: 30%;
  bottom: 0;
  z-index: 255;
}
#articleheader {
	font-family:sans-serif;
    font-size: 30px;
    background-color: white;
}
#loginarea {
    margin-left: 30%;
    margin-right: 30%;
}
.Carousel .dots .dot {
  transition: opacity .2s ease;
  width: 1em;
  height: 1em;
  border: 1px solid black;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}
#hr1 {
    background-color: black;
    padding: 3px;
}
.Carousel .dots .dot.active {
  opacity: 1;
}
#HR {
	margin-right:6%;
	text-align: right;
}

#HL {
	font-weight:bold;
	font-family:sans-serif;
	margin-left : 15%;
	text-align: left;
	font-size: 40px;
	font-color: orange;
}

a {
	text-decoration: none;
	color: black;
}
#mainimage {
	position: relative;
	margin: auto;
	background-color: white;
    border:3px solid #444444;
}

    #mainimage td {
        text-align: center;
    }
a {
    text-decoration: none;
    color: black;
}
#thematch {
    font-size: 15px;
}
.header {
	display: flex;
	font-color:black;
}

.title {
	margin-right: auto;
	color: black;
	font-size: 30px;
    padding:3px;
    margin-top:8px;
}
.menu{
	margin-bottom:20px;
	font-size:10px;
    margin-top:6px;
    margin-right:7%;
}
.mySlides {
	display: none;
}

#Category {
	margin: auto;
	position: relative;
}

	#Category td {
		padding: 30px 50px;
	}

.mySlides {
	display: none;
	position: relative;
	margin: auto;
}

#first {
	display: block;
}

.foot {
	background: rgb(20,20,20);
	padding: 8px;
	border: 2px solid black;
	color: rgb(150,150,150);
	font:  normal bold 15px sans-serif;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 10px auto;
	text-align: center;
	position: relative;
	height: auto;
	width: 100%;

}

#leftT{
	width:20%;
}

.selectkind {
	background: white;
	width: 400px;
	padding: 20px;
	text-align: center;
	margin: auto;
}

.Wheader {
	display: flex;
	background: white;
}

.t {
	vertical-align:middle;
	width: 80%;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	text-align: left;
	margin: auto;
	overflow:hidden;
}

.tt{
	vertical-align:middle;
	width: 80%;
	border-collapse: collapse;
	border-left: none;
	border-right: none;
	text-align: left;
	margin: auto;
	overflow:hidden;
}
.tt td{
	height:100px;
	text-align: center;

}

.tt td:hover{
	background-color:white;
}

td, th {
	font-style: "쨍쩌�쨘 째챠쨉챰";
	text-align: left;
	padding: 5px;
	height: 15px;
	width: 100px;
}

.Bheader {
	display: flex;
	background: black;
}

.Wheader {
	display: flex;
	background: white;
}
input[type=text], input[type=password], textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
      #loginarea{
      max-width:50%;
      margin-left : 40px;
      margin-right : 40px;
          margin-top:30%;
          margin-bottom:30%;
      }
      .shadow_eff{
      padding:40px;
      vertical-align:middle;
      max-width:20%;
       max-width:60%;
       margin:auto;
      widht:auto;
      min-height:300px;
      height:auto;
      background:white;
     color:#002F2F;
      position:relative;
      
          -webkit-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
      }
      .dounut_single{
      	widht:auto;
      	height:auto;
      	vertical-align:middle;
      }
   .shadow_eff2{
      padding:40px;
      vertical-align:middle;
      max-width:90%;
       margin:auto;
      widht:auto;
      min-height:300px;
      height:auto;
      background:;
     color:#002F2F;
      position:relative;
     
          -webkit-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
box-shadow: 0px 3px 13px 3px rgba(0,0,0,0.45);
      }

select{
   width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit], input[type=reset],input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right:2%;
}
    input[type=submit]:hover {
        background-color: #45a049;
    }

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.container1{
    margin:auto;
    background-color:#f2f2f1;
    width:90%;
    padding:15px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-5 {
    float:none;
    width: 5%;
    margin-top: 6px;
}
.col-351 {
    float:none;
    width: 45%;
    margin-top: 6px;
}
.col-352 {
    float:none;
    width: 45%;
    margin-top: 6px;
}
.viewertable{
		border-top:1px solid #CCC;
		border-collapse:collapse;
		margin-top:40px;
		width:100%;
		text-align:center;
	
}
.matchinfo {
			border-collapse:collapse;
	
		width:100%;
		text-align:center;
}
.matchinfo #title{
	font-size:30px;
}
.matchinfo thead tr td{
			text-align:center;
	border-bottom:1px solid #f3f3f3; height:30px;
}
.matchinfo tbody tr td{
			text-align:center;
	border-bottom:1px solid #f3f3f3; height:30px;
}
.viewertable #title{
		width:80%;
		text-align:center;
		border-bottom:1px solid #f3f3f3; 
	
}
.viewertable thead th{
	border-bottom:1px solid #f3f3f3;
	padding:0;
	height:40px;
	font-weight: bold;
	font-size: 17px;
	text-align:center;
}

.viewertable tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #f3f3f3; height:30px;
	font-size: 14px 
}

.viewertable #matches:hover{
	border:1px solid #f3f3f3;
	background-color:#f3f3f3;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
.row{
	background-color:white;
}
.rrow:after {
    content: "";
    display: table;
    clear: both;
    
}
.rrow{
	background-color:white;
}
#HR {
    font-size:10px;
    text-align: right;
}
#tablelist{
    text-align:center;
    font-size:18px;
    margin-bottom:5px;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
.circle {
    background: aliceblue;
    width: 400px;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    border-style: solid;
    margin: auto;
}
.dropbtn {
	background-color:white;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size:3px;
  font-family:sans-serif;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: lightgray;
}
 *{margin:0;padding:0;}
    ul,li{list-style:none;}
    .slide{height:300px;overflow:hidden;}
    .slide ul{width:calc(100% * 4);display:flex;animation:slide 8s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
    .slide li{width:calc(100% / 4);height:300px;}
    .slide li:nth-child(1){background:#ffa;}
    .slide li:nth-child(2){background:#faa;}
    .slide li:nth-child(3){background:#afa;}
    .slide li:nth-child(4){background:#aaf;}
    @keyframes slide {
      0% {margin-left:0;} /* 0 ~ 10  : 정지 */
      10% {margin-left:0;} /* 10 ~ 25 : 변이 */
      25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
      35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
      50% {margin-left:-200%;}
      60% {margin-left:-200%;}
      75% {margin-left:-300%;}
      85% {margin-left:-300%;}
      100% {margin-left:0;}
    }
        }
.hidden {
	display: none;
}